# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
.env
env/
venv/
ENV/

# Poetry files
poetry.lock

# VS Code
.vscode/

# Mac/Windows system files
.DS_Store
Thumbs.db

# Logs & misc
*.log
*.sqlite3
